PGHOST=localhost
PGDATABASE=gestor_eventos
PGUSER=postgres
PGPASSWORD=admin
PORT=3001
FRONTEND_URL=http://10.133.213.224:3002
DATABASE_URL="postgresql://postgres:admin@localhost:5432/gestor_eventos"
JWT_SECRET="leo-secret-key"
