PGHOST=localhost
PGDATABASE=gestor_eventos
PGUSER=postgres
PGPASSWORD=admin
PORT=3001
FRONTEND_URL=http://192.168.18.14:3002
DATABASE_URL="postgresql://postgres:admin@localhost:5432/gestor_eventos"
JWT_SECRET="leo-secret-key"
